<!DOCTYPE html>
<html>
<head>
	<title>Getting Started</title>
	<link rel = "stylesheet" href = "css/bootstrap.css" />
	<script src ="js/jquery.js"></script>
	<script src="../js/angular/angular.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
	<style>
	
		* {
			font-family: Montserrat;
			border-radius : 0;
		}
		
		#field {
			margin-bottom: 20px;
		}
		
		#lester {
			color: #004385;
		}
		
		input[type=text] {
			width: 100px;
			transition: ease-in-out, width .35s ease-in-out;
		}

		input[type=text]:focus {
			width: 270px;
		}
		
		#next-button {
			width: 200px;
			height: 50px;
			background-color: #d45113;;
			color: white;
			border-radius: 4px;
		}
		
		h4 {
			font-weight: bold;
		}

	</style>
	
</head>

<body style = "margin: 0; padding: 0;">

	<div style = "margin: 0; padding: 2em 10em" ng-app="step1App" ng-controller="step1Ctrl">
		
		<h3 style = "color: #d45113;">Step 1 of 4</h3>
		<br/>
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">1/4</div>
		</div>
		<br/>
		
		<h4>Enter your bank account</h4>
		<h6 id = "lester">Your account number here</h6>
		<br/>
		<div class="input-group">
			<input ng-model="bankAccoutNo" Accounttype="text" class="form-control" placeholder="..." aria-describedby="sizing-addon2" size = "23"/>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<div>
			<a href = "step2.html"><button ng-click="stepTo2()" id = "next-button">Go to next step <span class = "glyphicon glyphicon-menu-right"></span></button></a>
		</div>
	</div>
	
	<script>

		var config = {
	    	apiKey: "AIzaSyDjldqZXjxfne0nXPXDNJh0nvtloz58qRc",
	    	authDomain: "lester-999dc.firebaseapp.com",
	    	databaseURL: "https://lester-999dc.firebaseio.com",
	    	storageBucket: "",
	  	};
	  	firebase.initializeApp(config);

		var app = angular.module('step1App', []);
		app.controller('step1Ctrl', function($scope) {
			$scope.stepTo2 = function() {
				// temporarty database
				var tempAccountNo = $scope.bankAccoutNo;
				alert("go to 2");

				firebase.database().ref('tempData/accountNo').set({
					accountNo: tempAccountNo
				});
			}
		});
	</script>


</body>


</html>